In [8]:
import json
from pymongo import MongoClient
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings("ignore")
client = MongoClient('localhost', 27017)
db= client.bigData

In [2]:
df = pd.read_csv('timesheet.csv')
mdb_collection = db.timesheet 
records = json.loads(df.T.to_json()).values()
db.timesheet.insert(records)
print("Ok...")

Ok...

In [3]:
df = pd.read_csv('truck_event_text_partition.csv')
db= client.bigData
mdb_collection = db.truck_event_text_partition 
records = json.loads(df.T.to_json()).values()
db.truck_event_text_partition.insert(records)
print("Ok...")

Ok...

In [4]:
df = pd.read_csv('drivers.csv')
db= client.bigData
records = json.loads(df.T.to_json()).values()
db.drivers.insert(records)
print("Ok...")

Ok...

In [5]:
a=db.truck_event_text_partition.find({'eventType' : 'Overspeed'},{'routeName' : '1', '_id':0})
df = pd.DataFrame(a)
df.head()

                               routeName
0                   Saint Louis to Tulsa
1  Springfield to KC Via Hanibal Route 2
2          Saint Louis to Memphis Route2
3                   Saint Louis to Tulsa
4                 Memphis to Little Rock

In [6]:
b= db.truck_event_text_partition.find({'eventType': 'Overspeed'},{'truckId' :1, 'driverId': 1,'ssn':'1','_id':0})
df = pd.DataFrame(b)
df.head()

   driverId  truckId
0        10       85
1        28       39
2        11       74
3        10       85
4        25       96

In [9]:
c=db.truck_event_text_partition.find({'eventType': { '$ne' : 'Normal'} } , { 'driverId' : 1 , 'name' : 1, 'ssn':1, '_id':0})

df = pd.DataFrame(c)

lst_df = np.array(df.driverId.unique())
lst_df = lst_df.astype(int)
a = list(lst_df)
lst_int=[]
for i in a:
    lst_int.append(int(i))
lst_int[0]

c = db.drivers.find({'driverId' : {'$in': lst_int}}, {'name': 1, 'ssn': 1 , '_id':0})
df = pd.DataFrame(c)
df.head()

                name        ssn
0  George Vetticaden  621011971
1     Jamie Engesser  262112338
2        Paul Coddin  198041975
3        Joe Niemiec  139907145
4         Adis Cesir  820812209